body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  width: 100%;
}

#loading-screen {
  background-color:  azure;
  color: skyblue;
  font-family: sans-serif;
  font-size: 2em;
  height: 100%;
  padding-top: 200px;
  position: absolute;
  text-align: center;
  width: 100%;
}